# Uncomment and complete if you want to use Ollama
LLM_TYPE= ollama
CHAT_MODEL=gemma3:1b

# Uncomment and complete if you want to use OpenAI
# LLM_TYPE = openai
# OPENAI_API_KEY = <Your API Key>
# CHAT_MODEL = gpt-4o-mini

# Qdrant settings
QDRANT_HOST=127.0.0.1
QDRANT_PORT=6333
QDRANT_HTTP_PORT=6334
QDRANT_TIMEOUT=6000
    
# Embedding models
DENSE_MODEL=intfloat/multilingual-e5-base
SPARSE_MODEL = Qdrant/bm25
RERANKER_MODEL = namdp-ptit/ViRanker

# PostgreSQL settings
POSTGRES_USER=user
POSTGRES_PASSWORD=123456
POSTGRES_DB=phone_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# crawler settings
BASE_URL=https://cellphones.com.vn/mobile.html?order=filter_price&dir=desc&price=450000-63990000