# Uncomment and complete if you want to use Ollama
LLM_TYPE= ollama
CHAT_MODEL = gemma3:1b

# Qdrant
QDRANT_HOST = 127.0.0.1
QDRANT_PORT = 6333
QDRANT_TIMEOUT = 6000

# Embedding models
DENSE_MODEL = intfloat/multilingual-e5-base


# Evaluation config
GEN_MODEL_NAME=gpt-4o-mini
GEN_TEMPERATURE=0
GEN_MAX_TOKENS=800
GEN_QAS_PER_FILE=5
OPENAI_API_KEY=
