# Uncomment and complete if you want to use Ollama
LLM_TYPE= ollama
CHAT_MODEL = gemma3:1b

# Uncomment and complete if you want to use OpenAI
# LLM_TYPE = openai
# OPENAI_API_KEY = <Your API Key>
# CHAT_MODEL = gpt-4o-mini

# Qdrant
QDRANT_HOST = 127.0.0.1
QDRANT_PORT = 6333
QDRANT_TIMEOUT = 6000

# Neo4j
NEO4J_URI = bolt://localhost:7687
NEO4J_USER = neo4j
NEO4J_PASSWORD = test1234

# Embedding models
DENSE_MODEL = intfloat/multilingual-e5-base