# Uncomment and complete if you want to use Ollama
LLM_TYPE= ollama
CHAT_MODEL = gemma3:1b

# Qdrant
QDRANT_HOST = 127.0.0.1
QDRANT_PORT = 6333
QDRANT_TIMEOUT = 6000

# Embedding models
DENSE_MODEL = intfloat/multilingual-e5-base


# Evaluation config
GEN_MODEL_NAME=gpt-4o-mini
GEN_TEMPERATURE=0
GEN_MAX_TOKENS=800
GEN_QAS_PER_FILE=5
OPENAI_API_KEY=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