docling
h2
langchain
langchain-ollama
multiprocess
playwright
polyfactory
psycopg[binary, pool]
qdrant-client
semchunk
sentence-transformers
tiktoken
langchain_community
FlagEmbedding
fastembed
underthesea
numpy